---
layout: default
title: Blog
permalink: /blog/
pagination:
  enabled: true
  category: blog
---
<h3 class="section-title">Blog</h3>
<div class="posts clearfix">
	{% for post in paginator.posts %}
		<div class="post {{ post.category }}">
			{% if post.ft-img %}
				<a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"><img src="{{ post.ft-img | prepend: site.baseurl }}"></a>
			{% endif %}
			<h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			<p class="post-excerpt">{{ post.excerpt | strip_html }}</p>
			<div class="post-meta clearfix">
				<span class="post-date">{{ post.date | date: '%d%b%Y' }}</span>
			</div>
		</div> <!-- .post -->
	{% endfor %}
</div> <!-- .posts -->

<!-- {% if paginator.total_pages > 1 %}
	<ul class="paginate">
		<li>
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
			{% else %}
				<a class="disabled" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
			{% endif %}
		</li>
		<li>
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
			{% else %}
				<a class="disabled" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
			{% endif %}
		</li>
	</ul>
{% endif %} -->