		<div class="footer">
			<!-- <iframe width="100%" height="320" src="https://adityab.substack.com/embed" frameborder="0" scrolling="no"></iframe> -->

			<span class="subscribe-title">Sign up for my newsletter</span>
			
			<form
			action="https://buttondown.email/api/emails/embed-subscribe/adityab"
			method="post"
			target="popupwindow"
			onsubmit="window.open('https://buttondown.email/adityab', 'popupwindow')"
			class="embeddable-buttondown-form"
			>
				<!-- <label for="bd-email">Enter your email</label> -->
				<input type="email" name="email" id="bd-email" placeholder="Type your email..." />
				<input type="hidden" value="1" name="embed" />
				<input type="submit" value="Go" />
				<!-- <p>
					<a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
				</p> -->
			</form>

			<span class="copyright">© {{ 'now' | date: "%Y" }} &ndash; Aditya Bidikar • <a href="{{ site.baseurl }}/feed.xml">RSS</a></span>
		</div> <!-- .footer -->

		
		<!-- javascript -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script type="text/javascript">
			
			$('.header button').click(function() {
				$('.header button i').toggleClass('display-none');
				$('.mobile-menu').toggleClass('display-none');
			});

		</script>

	</body>
</html>