<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{ site.title }}</title>
		<meta name="description" content="">

		<!-- css -->
		<link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.png" | relative_url }}">
	</head>
	<body>
		
		<div class="header">
			<a href="{{ site.baseurl }}/">
				<img srcset="{{ "/img/character_head.png" | relative_url }}" title="Aditya Bidikar">
			</a>

			<div class="name-tag">
				<h1>Aditya Bidikar</h1>
				<span>Comic Book Letterer</span>

				<ul>
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
					<li><a href="{{ site.baseurl }}/lettering/">Lettering</a></li>
					<li><a href="{{ site.baseurl }}/fonts/">Fonts</a></li>
					<!-- <div class="clearfix"></div> -->
					<li><a href="{{ site.baseurl }}/writing/">Writing</a></li>
					<li><a href="{{ site.baseurl }}/about/">About Me</a></li>
					<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
				</ul>
			</div>

			<button class="">
				<i class="material-icons">menu</i>
				<i class="material-icons display-none">close</i>
			</button>
		</div> <!-- .header -->

		<ul class="mobile-menu display-none">
			<li><a href="{{ site.baseurl }}/">Home</a></li>
			<li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
			<li><a href="{{ site.baseurl }}/lettering/">Lettering</a></li>
			<li><a href="{{ site.baseurl }}/fonts/">Fonts</a></li>
			<li><a href="{{ site.baseurl }}/writing/">Writing</a></li>
			<li><a href="{{ site.baseurl }}/about/">About Me</a></li>
			<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
		</ul> <!-- .mobile-menu -->