<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-06-11-cleanup.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045503</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-10-sticky-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045897</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-08-13-daily-fiction-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045801</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-12-24-aa-might-mouse.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045801</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-14-game-lifeline.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045706</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-16-lifeline-without.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045706</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-02-24-nights-dominion-season-2-vol-4.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045706</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-12-some-other-comic.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045599</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-02-16-recipe.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045599</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-04-07-list-of-credits.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045503</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-04-07-test-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067160.74045897</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-03-another-test-post.md</key>
			<dict>
				<key>lastModification</key>
				<real>547067194.91503203</real>
				<key>version</key>
				<dict>
					<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>547067114.91986799</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-05-03-another-test-post.md</string>
		</array>
		<array>
			<string>2016-06-11-cleanup.md</string>
		</array>
		<array>
			<string>2018-04-07-list-of-credits.md</string>
		</array>
		<array>
			<string>2018-02-16-recipe.md</string>
		</array>
		<array>
			<string>2018-02-12-some-other-comic.md</string>
		</array>
		<array>
			<string>2017-02-24-nights-dominion-season-2-vol-4.md</string>
		</array>
		<array>
			<string>2017-01-16-lifeline-without.md</string>
		</array>
		<array>
			<string>2017-01-14-game-lifeline.md</string>
		</array>
		<array>
			<string>2016-12-24-aa-might-mouse.md</string>
		</array>
		<array>
			<string>2016-08-13-daily-fiction-post.md</string>
		</array>
		<array>
			<string>2016-07-10-sticky-post.md</string>
		</array>
		<array>
			<string>2018-04-07-test-post.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
			<integer>4</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>e2a98e7c13eae044653fecdfade9c1e0b5a721957a2a4a646a0ef8a90e542bfa</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
