				{% include header.html %}

				<div class="content single col-lg-8 col-xl-9">
					<div class="row">
						<div class="post col-lg-9 col-xl-7">
							<h2 class="post-title">{{ page.title }}</h2>
							{{ content }}
							<div class="post-meta">
								<span class="post-category">{{ page.category }}</span>
								<span class="post-date">{{ page.date | date: '%d%b%Y' }}</span>
							</div>
						</div> <!-- .post -->
					</div>
				</div> <!-- .content -->

				{% include footer.html %}